{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}}
 :aliases {:nREPL {:extra-deps
                   {cider/cider-nrepl {:mvn/version "0.25.2"}
                    cider/piggieback {:mvn/version "0.5.0"}
                    nrepl/nrepl {:mvn/version "0.6.0"}
                    refactor-nrepl {:mvn/version "2.5.0"}}
                   :main-opts ["--main" "nrepl.cmdline"
                               "--interactive"
                               "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl,refactor-nrepl.middleware/wrap-refactor]"]}
           :test-clj {:extra-paths ["test"]
                      :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                              :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                      :main-opts ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-paths ["test" "cljs-test-runner-out/gen"]
                       :extra-deps {olical/cljs-test-runner {:mvn/version "3.4.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}}}
